@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #0b0a1b;
}

#root {
  max-width: 360px;
  width: 100%;
  color: #fff;
}

button {
  cursor: pointer;
}

.homediv {
  cursor: pointer;
}
